<section class="community-container">

  <!-- LEFT -->
  <div class="info-side">

    <h1 class="title">
      Todo lo que necesitas<br>
      para <span class="highlight">Ganar</span>
    </h1>

    <p class="subtitle">
      Entrena, mejora y evoluciona dentro de una comunidad diseñada para ayudarte a alcanzar tu máximo rendimiento.
    </p>

    <ul class="benefits-list">
      @for (benefit of benefits; track benefit) {
        <li>
          <span class="check-icon">check_circle</span>
          {{ benefit }}
        </li>
      }
    </ul>

    <button class="cta-button">
      ÚNETE A LA COMUNIDAD
    </button>

  </div>

  <!-- RIGHT -->
  <div class="image-side">
    <div class="image-wrapper">

      <img
        src="https://img.freepik.com/fotos-premium/retrato-fitness-amigos-felices-estar-gimnasio-sesion-entrenamiento-grupal-trabajo-equipo-clases-entrenamiento-comunidad-sonriente-deportistas-saludables-emocionados-ejercicios-cardiovasculares-diversidad_590464-101628.jpg"
        alt="Personas entrenando juntas"
      />

      <div class="trust-badge">
        +500 Familias confían en nosotros
      </div>

    </div>
  </div>

</section>